.container {
  padding: 60px;

  .textHeader {
    font-family: 'Jaguar Bold';
    font-size: 40px;
    margin: 0;
    padding-bottom: 30px;
  }

  .inputFields {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  p {
    font-family: 'Nunito Sans', sans-serif;
    color: #646b83;
    font-size: 18px;
  }

  .button {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 12px;
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #646b83;
  }

  .inputField {
    height: 48px;
    border-radius: 12px;
    border: 1px #ebeef1 solid;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: var(--grey-1, #646b83);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 20px;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .conditions {
    margin-bottom: 30px;
  }

  .notification {
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 10px;
  }

  .success {
    color: #11bb08;
  }

  .error {
    color: #bb0808;
  }
}
